@use '$ui/src/lib/text-styles.scss';
@use '$ui/src/lib/breakpoints.scss' as breakpoint;

.sideBar {
  grid-area: sideBar;
  overflow-y: visible;
  top: 0;
  height: auto;

  @media #{breakpoint.$xsmall}, #{breakpoint.$small} , #{breakpoint.$medium} {
    padding: 12px 28px;
    overflow-y: auto;
  }
}

.filterHeading {
  margin-bottom: 4px;
}

.filterList {
  margin: 0 0 24px;
  padding: 0;
  list-style-type: none;
}

.filterLabel {
  width: 100%;
}

.toggleIndent {
  padding-left: 36px;
  &:last-of-type {
    margin-bottom: 12px;
  }
}

.hiddenChildren {
  display: none;
}

.collapsibleElement {
  display: flex;
}

.collapsibleChevron {
  min-width: 24px;
  padding: 0;
}
