version: 2
updates:
  - package-ecosystem: 'npm'
    directories:
      - '/'
      - '/packages/pxweb2'
      - '/packages/pxweb2-api-client'
      - '/packages/pxweb2-ui'
    schedule:
      interval: 'weekly'
    versioning-strategy: auto
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-patch']
    cooldown:
      default-days: 7
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 7
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: 'weekly'
    cooldown:
      default-days: 7
