min-release-age=9 # Enforce a dependency release cooldown of 7 days.
ignore-scripts=true # Disable lifecycle scripts to prevent potential security risks and unintended side effects during installation.