@use '$ui/style-dictionary/dist/scss/fixed-variables.scss' as fixed;

.navigationDrawer {
  padding: fixed.$spacing-6;
  padding-right: 0;
  margin: 0;
  width: 380px;
  min-width: 380px;
  background-color: var(--px-color-background-subtle);
  border-top-left-radius: var(--px-border-radius-xlarge);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
