.detail {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.iconWrapper {
  display: flex;
  padding-top: 2px;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
