@use '$ui/style-dictionary/dist/scss/fixed-variables.scss' as fixed;

.navigationRail {
  padding-top: 8px;
  height: 100vh;
  margin: 0;
  width: 120px;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin-top: fixed.$spacing-6;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  background: none;

  > .icon {
    width: fixed.$spacing-14;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    padding-top: fixed.$spacing-1;
    padding-bottom: fixed.$spacing-1;
  }

  &:hover {
    > .icon {
      background-color: var(--px-color-surface-action-subtle-hover);
    }
  }
  
  &:focus {
    outline: 3px solid var(--px-color-border-focus-outline);  
    outline-offset: 3px;
    box-shadow: inset 0 0 0 3px var(--px-color-border-focus-boxshadow);
  }

  &:focus-visible {
    outline: 3px solid var(--px-color-border-focus-outline);
    outline-offset: 3px;
    box-shadow: inset 0 0 0 3px var(--px-color-border-focus-boxshadow);
  }

  > .selected {
    background-color: var(--px-color-surface-action-subtle-active) !important;
  }
}
