html,
body {
  padding: 0;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

table{
  font-family: 'PxWeb-font-400';
  src: url('/fonts/PxWeb-font-400.ttf') format('truetype');
  font-weight: normal;
  width: 100%;


  border-radius: var(--border-radius-small, 4px);
  border: 1px solid var(--color-border-default, #162327); 
}
th{
  background: var(--color-surface-subtle, #F0F8F9);
  border-bottom: 1px solid var(--color-border-default, #162327); 
  text-align: left;
  width: 40px;

  font-family: 'PxWeb-font-400';
  src: url('/fonts/PxWeb-font-400.ttf') format('truetype');
  font-weight: normal;

}
td{
  border-bottom: 1px solid var(--color-border-default, #162327); 
  border-left: 1px solid var(--color-border-default, #162327); 

  font-family: 'PxWeb-font-400';
  src: url('/fonts/PxWeb-font-400.ttf') format('truetype');
  font-weight: normal;
  width: 40px;

}
tbody{
  
}


@font-face {
  font-family: 'PxWeb-font-400';
  src: url('/fonts/PxWeb-font-400.ttf') format('truetype');
}
@font-face {
  font-family: 'PxWeb-font-500';
  src: url('/fonts/PxWeb-font-500.ttf') format('truetype');
}
@font-face {
  font-family: 'PxWeb-font-700';
  src: url('/fonts/PxWeb-font-700.ttf') format('truetype');
}
