@use '$ui/style-dictionary/dist/scss/fixed-variables.scss' as fixed;

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  // xsmall - medium
  @media (min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-medium-max-width) {
    background: var(--px-color-surface-moderate);
  }

  // xsmall
  @media (min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-xsmall-max-width) {
    padding: fixed.$spacing-4 fixed.$spacing-4 fixed.$spacing-24
      fixed.$spacing-4;
  }

  // small
  @media (min-width: fixed.$breakpoints-small-min-width) and (max-width: fixed.$breakpoints-small-max-width) {
    padding: fixed.$spacing-8 fixed.$spacing-8 fixed.$spacing-24
      fixed.$spacing-8;
  }

  // medium
  @media (min-width: fixed.$breakpoints-medium-min-width) and (max-width: fixed.$breakpoints-medium-max-width) {
    padding: fixed.$spacing-11 fixed.$spacing-11 fixed.$spacing-24
      fixed.$spacing-11;
  }

  &.variant--generic {
    padding: fixed.$spacing-11 0;
    background-color: var(--px-color-surface-moderate);

    // xsmall - small
    @media (min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-small-max-width) {
      padding: fixed.$spacing-8 0;
    }

    // xsmall
    @media (min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-xsmall-max-width) {
      padding: fixed.$spacing-4 0;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: fixed.$spacing-1;
  background: var(--px-color-surface-default);
  padding: fixed.$spacing-10;

  // xsmall - medium
  @media (min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-medium-max-width) {
    border-radius: var(--px-border-radius-large);
    background: var(--px-color-surface-default);
  }
  // large - xxlarge
  @media (min-width: fixed.$breakpoints-large-min-width) {
    border-radius: var(--px-border-radius-xlarge);
  }
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
  border-radius: var(--px-border-radius-none);
}

.logoAndLinks {
  // xsmall - medium
  @media (min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-medium-max-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: fixed.$spacing-16;
    align-self: stretch;
  }

  // large - xxlarge
  @media (min-width: fixed.$breakpoints-large-min-width) {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: fixed.$spacing-16 fixed.$spacing-8;
    align-self: stretch;
    flex-wrap: wrap;
  }
}

.footerLinks {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1 0 0;
  flex-wrap: wrap;

  // xsmall - medium
  @media (min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-medium-max-width) {
    gap: fixed.$spacing-8 fixed.$spacing-8;
  }

  // large - xxlarge
  @media (min-width: fixed.$breakpoints-large-min-width) {
    gap: fixed.$spacing-14 fixed.$spacing-8;
  }
}

.footerLinkGroup {
  display: flex;
  width: 240px;
  min-width: 200px;
  flex-direction: column;
  align-items: flex-start;
  gap: fixed.$spacing-3;
}

.footerLinkList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.copyrightAndButton {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  align-self: stretch;
  flex-wrap: wrap;
  row-gap: fixed.$spacing-7;
}

.copyrightWrapper {
  display: flex;
  min-width: 260px;
  align-items: flex-end;
  gap: fixed.$spacing-1;
}
