.aboutLinks {
  display: flex;
  padding-bottom: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.linkCardContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;
}
