@use '$ui/style-dictionary/dist/scss/fixed-variables.scss' as fixed;
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: var(--px-border-radius-xlarge);
  background: var(--px-color-surface-default);
  align-self: stretch;
  position: relative;

  container-type: inline-size;
  container-name: contentCont;

  @container contentCont (width > 1px) {
    .tableContainer {
      width: 100cqw;
      overflow-x: auto;

      &:focus-visible {
        outline: 2px solid var(--px-color-border-focus-outline);
        outline-offset: -2px;
        border-radius: var(--px-border-radius-medium);
      }
    }
  }

  // xsmall
  @media (min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-xsmall-max-width) {
    padding: 0px fixed.$spacing-4 fixed.$spacing-8 fixed.$spacing-4;
    gap: fixed.$spacing-8;
    border-radius: var(--px-border-radius-none);
  }

  // small
  @media (min-width: fixed.$breakpoints-small-min-width) and (max-width: fixed.$breakpoints-small-max-width) {
    padding: 0px fixed.$spacing-8 fixed.$spacing-8 fixed.$spacing-8;
    gap: fixed.$spacing-8;
    border-radius: var(--px-border-radius-none);
  }

  // medium
  @media (min-width: fixed.$breakpoints-medium-min-width) and (max-width: fixed.$breakpoints-medium-max-width) {
    padding: 0px fixed.$spacing-11 fixed.$spacing-8 fixed.$spacing-11;
    gap: fixed.$spacing-8;
    border-radius: var(--px-border-radius-none);
  }

  // large and xlarge
  @media ((min-width: fixed.$breakpoints-large-min-width) and (max-width: fixed.$breakpoints-xlarge-max-width)) or ((min-width: fixed.$breakpoints-xxlarge-min-width)) {
    padding: fixed.$spacing-10 fixed.$spacing-10;
    gap: fixed.$spacing-10;
  }
}

.fadeTable table {
  opacity: 0.6;
  transition: 'opacity 0.3s ease-in-out';
}
.fadeTable tbody tr {
  &:hover {
    background: none !important;

    th {
      background: var(--px-color-surface-moderate) !important;
    }
  }
}

.gradientContainer {
  position: relative;
  overflow-x: auto;
  max-width: 100%; /* Set this to limit table width to screen */
}
.gradientContainer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px; /* Adjust this value to your liking */
  pointer-events: none; /* So the gradient won't block scroll */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
  z-index: 1;
}
.gradientContainer.hidegradientRight::after {
  opacity: 0; /* Hide gradient when fully scrolled */
}

.gradientContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px; /* Adjust this value to your liking */
  pointer-events: none; /* So the gradient won't block scroll */
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
  z-index: 1;
}

.gradientContainer.hidegradientLeft::before {
  opacity: 0; /* Hide when not scrolled  */
}
