.topicIcons {
  padding: 2rem;
}

.iconGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.iconWrapper {
  background-color: #dbebeb;
  min-width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--px-border-radius-medium);

  &.small {
    min-width: 52px;
    height: 52px;
    border-radius: var(--px-border-radius-full);
  }
}

.iconLabel {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  word-break: break-word;
}
