@use '$ui/style-dictionary/dist/scss/fixed-variables.scss' as fixed;
@use '$ui/src/lib/text-styles.scss';

.header {
  display: flex;
  width: 100%;
  height: 88px;
  padding: fixed.$spacing-6 fixed.$spacing-12 fixed.$spacing-6 fixed.$spacing-6;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: var(--px-color-surface-default);

  // xsmall and small
  @media ((min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-xsmall-max-width)) or ((min-width: fixed.$breakpoints-small-min-width) and (max-width: fixed.$breakpoints-small-max-width)) {
    padding: fixed.$spacing-6 fixed.$spacing-4;
    border-bottom: 1px solid var(--color-border-subtle, #c3dcdc);
  }
}
