.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.operationList {
  padding: 0;
  margin: 0;
}

.alert {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
