// From Link component, merged "link" and "inline"
.link {
  text-decoration-line: underline;
  color: var(--px-color-text-action);
  display: inline-flex;
  align-items: flex-start;
  gap: 0px;
  padding: 0px;
  align-items: center;

  &:hover {
    text-decoration: none;
    background-color: var(--px-color-surface-action-subtle-hover);
  }

  &:focus-visible {
    outline: 3px solid var(--px-color-border-focus-outline);
    outline-offset: 5px;
    box-shadow: 0 0 0 3px var(--px-color-border-focus-boxshadow);
  }

  &:active {
    text-decoration-line: none;
    color: var(--px-color-text-on-action-subtle);
    background-color: var(--px-color-surface-action-subtle-active);
  }
}
