@use '$ui/style-dictionary/dist/scss/fixed-variables.scss' as fixed;
@use '$ui/src/lib/text-styles.scss';

.navigationBar {
  display: flex;
  width: 100vw;
  height: fixed.$spacing-20;
  padding: 0px fixed.$spacing-2;
  justify-content: center;
  align-items: center;
  gap: fixed.$spacing-2;
  flex-shrink: 0;
  background-color: var(--px-color-surface-subtle);

  // fix the navigation bar to the bottom of the screen
  position: fixed;
  bottom: 0;
  z-index: 2; // 2 to fix gradient issue with table
  border-top: 1px solid var(--px-color-border-subtle);

  // xsmall, small and medium
  @media (min-width: fixed.$breakpoints-xsmall-min-width) and (max-width: fixed.$breakpoints-medium-max-width) {
    nav {
      display: flex;
      width: 688px;
    }
  }

  &:focus-visible {
    outline: 3px solid var(--px-color-border-focus-outline);
    outline-offset: 3px;
    box-shadow: inset 0 0 0 3px var(--px-color-border-focus-boxshadow);
  }
}

.navigationBarList {
  padding: 8px 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
  justify-content: center;
  display: inherit;
  gap: fixed.$spacing-1;
}
