.apiQuery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  // border: 1px solid black;
}

.descriptionAndLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.descriptionWrapper {
  display: flex;
  padding: 4px 8px 0 8px;
  align-items: flex-start;
  align-self: stretch;
}

.linkWrapper {
  display: flex;
  padding: 0 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.selectWrapper {
  display: flex;
  padding: 12px 8px 0 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.chipsWrapper {
  display: flex;
  padding: 8px 8px 0 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.codeSnippetWrapper {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
