@use '$ui/style-dictionary/dist/scss/fixed-variables.scss' as fixed;
@use '$ui/src/lib/text-styles.scss';

.navigationRailList {
  list-style: none;
  padding-inline-start: unset;
  margin: 0;
}

.navigationRail {
  width: 120px;
  height: 100%;
  padding: fixed.$spacing-8 0px fixed.$spacing-14 0px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background: var(--px-color-surface-default);
  gap: 24px;

  // large, xlarge and xxlarge
  @media ((min-width: fixed.$breakpoints-large-min-width) and (max-width: fixed.$breakpoints-xlarge-max-width)) or ((min-width: fixed.$breakpoints-xxlarge-min-width)) {
    display: flex;
  }

  &:focus-visible {
    outline: 3px solid var(--px-color-border-focus-outline);
    outline-offset: 3px;
    box-shadow: inset 0 0 0 3px var(--px-color-border-focus-boxshadow);
  }
}
