@use '$ui/style-dictionary/dist/scss/fixed-variables.scss' as fixed;
@use '$ui/src/lib/text-styles.scss';
@use '$ui/src/lib/breakpoints.scss' as breakpoint;

.startPage {
  color: var(--px-color-text-default);
}

.information {
  padding: 32px 0px 72px 0px;
  background-color: var(--px-color-surface-default);
  max-width: 728px;

  .title {
    margin-bottom: 1rem;
  }
}

.searchFilterResult {
  background-color: var(--px-color-surface-subtle);
}

.searchAreaWrapper {
  display: flex;
  padding: 60px 0 60px 0;

  .search {
    width: 628px;
    align-items: flex-start;

    @media #{breakpoint.$xsmall}, #{breakpoint.$small} , #{breakpoint.$medium} {
      grid-template-areas: 'listTables';
      grid-template-columns: 1fr;
    }

    @media #{breakpoint.$xsmall} {
      width: 100%;
    }

    @media #{breakpoint.$small} {
      width: 391px;
    }

    @media #{breakpoint.$medium} {
      width: 551px;
    }

    @media #{breakpoint.$large} {
      width: 588px;
    }

    @media #{breakpoint.$xlarge} {
      width: 613px;
    }
  }

  .filterToggleButton {
    display: none;
  }

  @media #{breakpoint.$xsmall} {
    flex-direction: column;
    align-items: stretch;

    .filterToggleButton {
      width: 100%;
    }
  }

  @media #{breakpoint.$xsmall}, #{breakpoint.$small} , #{breakpoint.$medium} {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .filterToggleButton {
      display: inline-flex;
    }
  }
}

.filterAndListWrapper {
  display: grid;
  grid-template-areas: 'sideBar listTables';
  grid-template-columns: 408px auto;
  grid-column-gap: 32px;
  height: calc(100vh - fixed.$spacing-22);

  @media #{breakpoint.$xsmall}, #{breakpoint.$small} , #{breakpoint.$medium} {
    grid-template-areas: 'listTables';
    grid-template-columns: 1fr;
  }

  @media #{breakpoint.$large} {
    grid-template-columns: 288px auto;
  }

  @media #{breakpoint.$xlarge} {
    grid-template-columns: 348px auto;
  }
}

.filterOverlay {
  position: fixed;
  inset: 0;
  background: var(--px-color-surface-default);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filterOverlayHeader {
  background-color: var(--px-color-surface-subtle);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.filterOverlayContent {
  background-color: var(--px-color-surface-default);
  flex: 1;
  overflow-y: auto;
  padding: 1rem 2rem;
}

.filterOverlayFooter {
  margin-top: auto;
  padding: 1rem;
}

.showResultsButton {
  width: 100%;
}

.listTables {
  grid-area: listTables;
}

.loadingSpinner {
  margin: 10px 0 10px 20px;
}

.filterPillContainer {
  padding-bottom: 40px;
}

.tableListItem {
  padding-bottom: 16px;
}

.countLabel {
  padding-bottom: 16px;
  p {
    margin: 0;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media #{breakpoint.$xsmall} {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @media #{breakpoint.$small} {
    max-width: 508px;
  }

  @media #{breakpoint.$medium} {
    max-width: 688px;
  }

  @media #{breakpoint.$large} {
    max-width: 928px;
  }

  @media #{breakpoint.$xlarge} {
    max-width: 1108px;
  }

  @media #{breakpoint.$xxlarge} {
    max-width: 1288px;
  }
}

.debugBreakpoint {
  float: right;
  margin-right: 20px;

  @media #{breakpoint.$xsmall} {
    &::before {
      content: 'XSmall';
    }
  }

  @media #{breakpoint.$small} {
    &::before {
      content: 'Small';
    }
  }

  @media #{breakpoint.$medium} {
    &::before {
      content: 'Medium';
    }
  }

  @media #{breakpoint.$large} {
    &::before {
      content: 'Large';
    }
  }

  @media #{breakpoint.$xlarge} {
    &::before {
      content: 'XLarge';
    }
  }

  @media #{breakpoint.$xxlarge} {
    &::before {
      content: 'XXLarge';
    }
  }
}
