@use '$ui/style-dictionary/dist/scss/fixed-variables.scss' as fixed;
@use '$ui/src/lib/text-styles.scss';
@use '$ui/src/lib/breakpoints.scss' as breakpoint;

.startPage {
  color: var(--px-color-text-default);

  @media #{breakpoint.$large} , #{breakpoint.$xlarge} , #{breakpoint.$xxlarge} {
    border-top: 1px solid var(--color-border-subtle, #c3dcdc);
  }
}

.information {
  padding: 84px 0px 72px 0px;
  background-color: var(--px-color-surface-default);
  max-width: 848px;

  .title {
    margin-bottom: 1rem;
  }

  @media #{breakpoint.$xsmall} , #{breakpoint.$small} {
    padding: 62px 0 48px 0;
  }

  @media #{breakpoint.$medium} {
    padding: 76px 0 72px 0;
  }

  @media #{breakpoint.$large} {
    max-width: 688px;
  }

  @media #{breakpoint.$xlarge} {
    max-width: 728px;
  }
}

.searchFilterResult {
  background-color: var(--px-color-surface-subtle);
  padding-bottom: 100px;

  @media #{breakpoint.$xsmall} , #{breakpoint.$small} {
    padding-bottom: 88px;
  }
}

.searchAreaWrapper {
  display: flex;
  padding: 60px 0 52px 0;

  .search {
    width: 628px;
    align-items: flex-start;

    @media #{breakpoint.$xsmall}, #{breakpoint.$small} , #{breakpoint.$medium} {
      grid-template-areas: 'listTables';
      grid-template-columns: 1fr;
    }

    @media #{breakpoint.$xsmall} {
      width: 100%;
    }

    @media #{breakpoint.$small} {
      width: 391px;
    }

    @media #{breakpoint.$medium} {
      width: 551px;
    }

    @media #{breakpoint.$large} {
      width: 608px;
    }

    @media #{breakpoint.$xlarge} {
      width: 633px;
    }
  }

  .filterToggleButton {
    display: none;
  }

  @media (max-width: 499px) {
    padding: 2rem 0;
    flex-direction: column;
    align-items: stretch;

    .filterToggleButton {
      width: 100%;
    }
  }

  @media #{breakpoint.$xsmall} {
    padding: 2rem 0;
  }

  @media #{breakpoint.$small} {
    padding: 48px 0 40px 0;
  }

  @media #{breakpoint.$medium} {
    padding: 60px 0 40px 0;
  }

  @media #{breakpoint.$xsmall}, #{breakpoint.$small} , #{breakpoint.$medium} {
    display: flex;
    align-items: center;
    gap: 12px;

    .filterToggleButton {
      display: inline-flex;
    }
  }
}

.filterHeading {
  margin-bottom: 4px;
}

.filterAndListWrapper {
  display: grid;
  grid-template-areas: 'sideBar listTables';
  grid-template-columns: 408px auto;
  grid-column-gap: 32px;

  @media #{breakpoint.$xsmall}, #{breakpoint.$small} , #{breakpoint.$medium} {
    grid-template-areas: 'listTables';
    grid-template-columns: 1fr;
  }

  @media #{breakpoint.$large} {
    grid-template-columns: 288px auto;
  }

  @media #{breakpoint.$xlarge} {
    grid-template-columns: 348px auto;
  }
}

.filterOverlay {
  position: fixed;
  inset: 0;
  background: var(--px-color-surface-default);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .filterOverlayHeader {
    background-color: var(--px-color-surface-subtle);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    column-gap: 8px;
  }

  .filterOverlayContent {
    background-color: var(--px-color-surface-default);
    flex: 1;
    overflow-y: auto;
  }

  .filterOverlayFooter {
    margin-top: auto;
    padding: 1rem;

    .removeFilterButton {
      margin-bottom: 12px;
      width: 100%;
    }

    .showResultsButton {
      width: 100%;
    }
  }
}

.listTables {
  grid-area: listTables;
}

.tableCardList {
  display: grid;
  gap: 16px;

  @media #{breakpoint.$xsmall} , #{breakpoint.$small} {
    gap: 12px;
  }
}

.paginationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;

  @media #{breakpoint.$xsmall} , #{breakpoint.$small} {
    margin-top: 2rem;
  }
}

.tableCount {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.loadingSpinner {
  margin: 10px 0 10px 20px;
}

.filterPillContainer {
  padding-bottom: 40px;
}

.countLabel {
  padding-bottom: 16px;
  p {
    margin: 0;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media #{breakpoint.$xsmall} {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @media #{breakpoint.$small} {
    max-width: 508px;
  }

  @media #{breakpoint.$medium} {
    max-width: 688px;
  }

  @media #{breakpoint.$large} {
    max-width: 928px;
  }

  @media #{breakpoint.$xlarge} {
    max-width: 1108px;
  }

  @media #{breakpoint.$xxlarge} {
    max-width: 1288px;
  }
}
