# .github/workflows/chromatic.yml

name: 'Chromatic'

on:
  push:
    branches:
      - main
    paths:
      - 'packages/pxweb2-ui/**'
  pull_request:
    branches:
      - main
    paths:
      - 'packages/pxweb2-ui/**'

permissions:
  contents: read

jobs:
  chromatic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: npm ci
      - name: Build style-dictionary
        run: npm run build-style-dictionary

      - name: Publish to Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
