name: Deploy to Cloudflare, test with Mabl

on:
  pull_request:
    branches: ['main']

permissions:
  contents: read
  pull-requests: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Deploy
    outputs:
      deployment-url: ${{ steps.deploy.outputs.deployment-url }}
      alias-url: ${{ steps.deploy.outputs.pages-deployment-alias-url }}
    steps:
      - name: Get branch names
        id: branch-names
        uses: tj-actions/branch-names@v9
      - uses: actions/checkout@v6
      - name: deploy
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          preCommands: npm install && npm run build
          command: |
            pages deploy packages/pxweb2/dist --project-name=pxweb2 --branch=${{ steps.branch-names.outputs.current_branch }}
      - name: Add deployment info to PR description
        uses: jupier/powerful-pr-comment@v0.0.5
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          sticky: true
          body: |
            ## Branch Deployment to Cloudflare Pages
            :articulated_lorry: Preview URL: ${{ steps.deploy.outputs.deployment-url }}
            :construction: Branch preview URL: ${{ steps.deploy.outputs.pages-deployment-alias-url }}
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.draft == false && github.actor != 'dependabot[bot]' }}
    name: Test
    needs: deploy
    steps:
      - uses: actions/checkout@v6
      - name: Regression test against feature branch
        id: mabl-test-deployment
        uses: mablhq/github-run-tests-action@v1
        env:
          # Use a "CI/CD Integration" type of mabl API key
          MABL_API_KEY: ${{ secrets.MABL_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          plan-labels: |
            PxWeb 2.0 Regression Test
          browser-types: |
            firefox
          application-id: ${{ secrets.MABL_APPLICATION_ID}}
          environment-id: ${{ secrets.MABL_ENVIRONMENT_ID}}
          app-url: ${{needs.deploy.outputs.deployment-url}}
